Repository sebastien-boulle/changelog-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamllint

black:
  name: black
  language: system
  entry: venv/bin/black --check

isort:
  name: isort
  language: system
  entry: venv/bin/isort --check-only --diff --recursive

pylint:
  name: pylint
  language: system
  entry: venv/bin/pylint
  require_serial: true

yamllint:
  name: yamllint
  language: system
  entry: venv/bin/yamllint --strict

feat(git): add some helpers to retrieve the tags
  Makefile
  changelog_generator/__main__.py
  changelog_generator/repository_manager.py
  requirements.txt
  setup.cfg
  setup.py
Due: black, isort, pylint

feat(git): add some helpers to retrieve organization and repository
  changelog_generator/repository_manager.py
Due: black, isort, pylint

feat(generator): add the first version of the changelog generator
  changelog_generator/__main__.py
  changelog_generator/generator.py
  requirements.txt
  setup.py
Due: black, isort, pylint

feat(git): add some helpers to retrieve the list of commits
  changelog_generator/__main__.py
  changelog_generator/commit.py
  changelog_generator/repository_manager.py
Due: black, isort, pylint

feat(generator): add JIRA references
  changelog_generator/commit.py
  changelog_generator/generator.py
Due: black, isort, pylint

feat(git): remove rc tag for now
  changelog_generator/repository_manager.py
Due: black, isort, pylint

docs(readme): update roadmap
  README.md
Due: none

feat(git): light handle of reverted commit
  README.md
  changelog_generator/__main__.py
  changelog_generator/commit.py
Due: black, isort, pylint

feat(action): add a githubaction
  README.md
  action.yml
Due: yamllint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
